# ===== Database =====
DATABASE_URL=mysql+pymysql://root:Pvy%401501@localhost:3306/event_management

# ===== Security / JWT =====
SECRET_KEY=random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# ===== App =====
APP_NAME=Event Management API
DEBUG=True
